<!-- app/views/projects/_form.html.erb -->
<%= render "users/shared/error_messages", resource: @project %>

<div class="mb-3">
  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control", placeholder: 'Project Name', autofocus: true %>
</div>

<div class="mb-3">
  <%= f.label :description, class: "form-label" %>
  <%= f.text_area :description, class: "form-control", placeholder: 'Project Description' %>
</div>

<div class="text-center mt-4 name">
  Add Users
</div>  <template data-nested-form-target="template">
  <%= f.fields_for :project_users, ProjectUser.new, child_index: 'NEW_RECORD' do |projuser_fields| %>
    <%= render "projects/projectuser_form", f: projuser_fields %>
  <% end %>
  </template>
  <%= f.fields_for :project_users do |projuser_fields| %>
    <%= render "projects/projectuser_form", f: projuser_fields %>
    <% end %>


  <div data-nested-form-target="target"> </div><br>
  
  <button type="button" data-action="nested-form#add">Add User </button>
<br><br>
<!-- Nested attributes for bugs -->

<div class="actions">
  <%= f.submit "Add", class: "btn mt-3" %>
</div>
